@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Sriracha&display=swap");

body {
	margin: 0;
	/* font-family: "Sriracha", cursive; */
	font-family: "Balsamiq Sans", cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.underline,
.heading {
	margin: 10px;
	font-size: 18px;
	font-weight: 700;
	color: #000;
	background-image: linear-gradient(to right, #00f7ff, #1aff1a);
	background-position-y: 19px;
	background-position-x: -7px;
	background-repeat: no-repeat;
	width: max-content;
	height: 20px;
	transition: 250ms ease-out;
}

.underline:hover,
.heading {
	padding: 7px;
	border-radius: 20px;
	background-position-y: 0px;
	background-position-x: 0px;
	width: max-content;
	height: max-content;
	cursor: pointer;
}
.heading {
	font-size: 20px;
}
.icon {
	font-size: 30px;
	color: #fff;
}

.row {
	display: flex;
	padding-top: 3vh;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.col {
	height: 80vh;
	width: 25%;
	margin: 15px;
	border-radius: 10px;
	border: 2px solid black;
}

.float {
	position: fixed;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	border-radius: 50%;
	bottom: 40px;
	right: 40px;
	background-image: linear-gradient(to right, #00f7ff, #1aff1a);
	color: #fff;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
	cursor: pointer;
}
#userSettings {
	bottom: 110px;
}

#home {
	top: 40px;
	left: 40px;
}

#AddTask-Overlay,
#Profile-Overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(1, 53, 16, 0.808);
	z-index: 2;
	cursor: pointer;
	transition: 250ms ease-out;
}
.Content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.blueCard {
	background-color: #005f63;
	padding: 15px 25px;
	padding-top: 0px;
	width: max-content;
	height: max-content;
	color: #769091;
	text-align: left;
	transition: 250ms ease-out;
}

#loginForm,
#Form,
#details {
	width: 60%;
}

.fl-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fl {
	float: right;
	position: relative;
	background-color: #ffffff;
	height: 70px;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 0px;
	margin: 0px;
	margin-right: -65px;
}

.fl-ico {
	font-size: 30px;
	color: #07575a;
}

button > div {
	display: flex;
	color: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 0% 20px;
}

.blueCard > .fl-row > h3 {
	border-style: none none none solid;
	border-left-width: 5px;
	padding: 7px 10px;
	font-size: 1.5em;
	margin-left: -23px;
	color: #f4f9f4;
	text-align: center;
}
h4 {
	color: #f4f9f4;
}

input[type="text"]:focus {
	border-style: none none solid none;
	border-bottom-width: 5px;
	border-bottom-color: white;
}

button {
	background: transparent;
	border: solid #27496d;
	border-color: inherit;
	font-family: inherit;
	color: #ffffff;
	outline: none;
	width: 50%;
	margin: 1vh;
}

button:hover {
	cursor: pointer;
}

input[type="text"] {
	background: transparent;
	color: #fff;
	font-size: 20px;
	height: 3vh;
	font-family: inherit;
	outline: none !important;
	border-style: none none solid none;
	border-bottom-width: 1px;
	border-bottom-color: white;
	width: 100%;
}

.disabled {
	opacity: 0.5;
}
.disabled:hover {
	cursor: default;
}
.enabled {
	opacity: 1;
}
.enabled:hover {
	cursor: pointer;
}
h4 > span {
	color: #b1cfd1;
}

#task {
	width: 80%;
	border-radius: 10px;
	color: #000;
	padding: 5px;
	margin: 5px;
	text-align: center;
	position: relative;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.abs {
	position: absolute;
	right: 5px;
	bottom: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#open > center > #task {
	color: white;
}

#over > center > #task {
	background-color: #1aff1a4f;
	color: #000;
}

#on > center > #task {
	background-color: #00f7ff44;
	color: #000;
}
#on > center > #task > h4,
#on > center > #task > span > .icon,
#over > center > #task > h4,
#over > center > #task > span > .icon {
	color: #000;
}

.chat {
	height: 30vh;
	overflow: auto;
}

#receivedMsg {
	float: left;
	text-align: left;
	padding: 10px;
	margin: 5px 15px;
	border-radius: 0px 20px 20px 20px;
	background: #00f7ff7e;
	color: #000;
	clear: both;
	height: fit-content;
	font-size: 1.1em;
	border-style: solid none none solid;
	border-color: #fff;
	border-width: 7px;
}

#sentMsg {
	font-size: 1.1em;
	float: right;
	text-align: right;
	padding: 10px;
	margin: 5px 15px;
	border-radius: 18px 0px 18px 18px;
	background: #00b300;
	color: #000;
	clear: both;
	height: fit-content;
	border-style: none solid solid none;
	border-color: #fff;
	border-width: 7px;
}

@media (max-width: 840px) {
	.icon {
		font-size: 25px;
	}

	.blueCard {
		width: 95%;
	}
	.fl {
		margin-right: -50px;
	}
	h2 {
		font-size: 15px;
	}
	button > div {
		padding: 0 0;
	}
	.row > .blueCard {
		width: 80%;
	}
	button {
		width: 70%;
	}
	#loginForm,
	#Form,
	#details {
		width: 80%;
	}
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #206063;

	background-image: linear-gradient(to top, #00f7ff, #1aff1a);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-image: linear-gradient(to bottom, #00f7ff, #1aff1a);
}
